.game-board
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.overlay
{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay__content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 6rem;
    border-radius: 5px;
    background-color: var(--darkblue-color);
    border: 3px solid var(--yellow-color);
}
.overlay__content h2
{
    padding: 1rem;
    font-size: 2rem;
    color: #9084c9;
}
.overlay__content button
{
    border-radius: 5px;
    border-color: transparent;
    padding: 0.4rem;
    cursor: pointer;
    background-color: var(--yellow-color);
    color: whitesmoke;
}
.game-board__header h2
{
    color: #9084c9;
    padding: 2rem;
}
.game-board__container
{
    display: grid;
    grid-template-columns: repeat(3 , 8rem);
    grid-template-rows: repeat(3 , 8rem);
    gap: 1rem;
    justify-content: center;
    border-radius: 5px;
}
.font--yellow{
    color: var(--yellow-color);
}

.font--pink{
    color: var(--pink-color);
}

@media screen and (max-width: 500px) {
    .game-board__container
    {
        grid-template-columns: repeat(3 , 4rem);
        grid-template-rows: repeat(3 , 4rem);
    }
}

@media screen and (max-width: 900px) {
    .game-board__container
    {
        grid-template-columns: repeat(3 , 7rem);
        grid-template-rows: repeat(3 , 7rem);
    }
}