*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --darkblue-color: #18113B;
    --yellow-color: #F1AD3C;
    --pink-color: #E41572;

}

body{
    background-image: url('./assests/background.jpg');
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
}